<!DOCTYPE html>
<html>
<head> 
<h3>How many people are in class today ?</h3>
  <h5><%=message1%></h5>
  	<%=name_pairs%>
  <h5><%=message%></h5>	
<form method = "post" action = "/names">
 <input type="number" type="range" min="2"id="fnames" oninput="makeBoxes()"/  required>
  <div id="boxes"></div>
<br>
<input type = "submit">
</form

</head>

</html>
<script src= "/js/number_of_boxes.js"></script>











<!--  <!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <title>Random Pairing</title>
</head>
<body>
  <h3>How many people are in class today ?</h3>
  <h5><%=message1%></h5>
  	<%=name_pairs%>
  <h5><%=message%></h5>	
  <form  method = "post" action = "/names">
  	<input type="text" name="numNames" id="numNames" required>

  <div id="elcontainer"></div>
  	<input type = "submit">
  </form>
</body>
</html>
<script src= "/js/number_of_boxes.js"></script>
 -->